!!! XML
%feed{xmlns: 'http://www.w3.org/2005/Atom'}
  %author
    %name&= settings.author
  %generator{uri: 'http://github.com/chastell/tributary'} tributary
  %id= "http://#{request.host}/"
  %link{href: "http://#{request.host}/", rel: 'alternate'}
  %link{href: "http://#{request.host}/index.xml", rel: 'self'}
  %title&= settings.sitename
  %updated= @stream.recent.first.date.iso8601
  - @stream.recent(5).each do |item|
    %entry
      %id= "http://#{request.host}/#{item.path}"
      %link{href: "http://#{request.host}/#{item.path}", rel: 'alternate'}
      %title&= item.title
      %updated= item.date.iso8601
      %content{type: 'html'}&= item.body
