!!! 5
%html{lang: @item.lang || Tributary::App.locale || 'en'}
  %head
    %link{href: 'index.xml',       rel: 'alternate', title: 'no language preference', type: 'application/atom+xml'}
    %link{href: 'index.en.xml',    rel: 'alternate', title: 'English preference',     type: 'application/atom+xml'}
    %link{href: 'index.pl.xml',    rel: 'alternate', title: 'Polish preference',      type: 'application/atom+xml'}
    %link{href: 'index.en.en.xml', rel: 'alternate', title: 'English-only content',   type: 'application/atom+xml'}
    %link{href: 'index.pl.pl.xml', rel: 'alternate', title: 'Polish-only content',    type: 'application/atom+xml'}
    %link{href: 'layout.css', rel: 'stylesheet'}
    %link{href: "#{@item.type}.css", rel: 'stylesheet'}
    %meta{charset: 'UTF-8'}
    %title= @item.title or settings.sitename + "#{": #{@item.path}" if @item.path}"
  %body
    %h1
      %a{href: '/'}= settings.sitename
    %article
      = yield
    %nav
      %p
        - previous   = @stream.previous(@item)
        - subsequent = @stream.subsequent(@item)
        - if previous
          #{t.previously}:
          %a{href: previous.path}= previous.title
        - if previous and subsequent
          \/
        - if subsequent
          #{t.subsequently}:
          %a{href: subsequent.path}= subsequent.title
    %footer
      %p
        #{t.language}:
        - {'en' => t.english, 'pl' => t.polish}.each do |lang, name|
          - if settings.locale == lang
            = name
          - else
            %a{href: "/set?locale=#{lang}"}= name
          |
        - if settings.locale.nil?
          = t.default
        - else
          %a{href: '/set?locale'}= t.default
      %p
        #{t.content}:
        - {'en' => t.english_only, 'pl' => t.polish_only}.each do |lang, name|
          - if settings.lang_limit == [lang]
            = name
          - else
            %a{href: "/set?lang_limit=#{lang}"}= name
          |
        - if settings.lang_limit.nil?
          = t.no_limit
        - else
          %a{href: '/set?lang_limit'}= t.no_limit
      %p
        %a{href: 'about'} designed by chastell in Mazovia
