!!! XML
%feed{xmlns: 'http://www.w3.org/2005/Atom'}
  %author
    %name&= settings.author
  %generator{uri: 'http://github.com/chastell/tributary'} tributary
  %id= settings.url
  %link{href: settings.url, rel: 'alternate'}
  %link{href: settings.url + 'feed', rel: 'self'}
  %title&= settings.sitename
  %updated= @stream.recent.first.date.iso8601
  - @stream.recent(7).each do |item|
    %entry
      %id= settings.url + item.path
      %link{href: settings.url + item.path, rel: 'alternate'}
      %title&= item.title
      %updated= item.date.iso8601
      %content{type: 'html'}&= item.body
