!!! 5
%html{lang: 'en'}
  %head
    %link{href: 'feed.xml', rel: 'alternate', title: 'Atom feed', type: 'application/atom+xml'}
    %link{href: 'style.css', rel: 'stylesheet'}
    - if @item.view
      %link{href: "#{@item.view}.css", rel: 'stylesheet'}
    %meta{charset: 'UTF-8'}
    %title= @item.title or settings.sitename
  %body
    %p
      %a{href: '/'}= settings.sitename
    = yield
    - if previous = @stream.previous(@item)
      %p
        previously:
        %a{href: previous.path}= previous.title
    - if subsequent = @stream.next(@item)
      %p
        subsequently:
        %a{href: subsequent.path}= subsequent.title
    %p
      %a{href: 'about'} designed by chastell in Mazovia
