!!! 5
%html{lang: 'en'}
  %head
    %link{href: 'feed.xml', rel: 'alternate', title: 'Atom feed', type: 'application/atom+xml'}
    %link{href: 'layout.css', rel: 'stylesheet'}
    %link{href: "#{@item.view}.css", rel: 'stylesheet'}
    %meta{charset: 'UTF-8'}
    %title= @item.title or settings.sitename
  %body
    %p
      %a{href: '/'}= settings.sitename
    = yield
    - if previous = @stream.previous(@item)
      %p
        previously:
        %a{href: previous.path}= previous.title
    - if subsequent = @stream.subsequent(@item)
      %p
        subsequently:
        %a{href: subsequent.path}= subsequent.title
    %p
      language:
      - {'en' => 'English', 'pl' => 'Polish'}.each do |lang, name|
        - if settings.lang == lang
          = name
        - else
          %a{href: "/set?lang=#{lang}"}= name
        |
      - if settings.lang.nil?
        default
      - else
        %a{href: '/set?lang'} default
    %p
      content:
      - {'en' => 'English only', 'pl' => 'Polish only'}.each do |lang, name|
        - if settings.lang_limit == [lang]
          = name
        - else
          %a{href: "/set?lang_limit=#{lang}"}= name
        |
      - if settings.lang_limit.nil?
        no limit
      - else
        %a{href: '/set?lang_limit'} no limit
    %p
      %a{href: 'about'} designed by chastell in Mazovia
